header {
    text-align: center;
}

nav {
    text-align: center;
    background-color: gray;
}

.page {
    display: inline-block;
    margin: 30px;

}

.about {
    display: inline-block;
    margin: 30px;
}

.contact {
    display: inline-block;
    margin: 30px;
}

#punch {
    
    display: inline-block;
}

#video {
    display: inline-block;
    border-style: solid;
    background-color: beige;
    border-width: 2px;
    float: right;
    min-width: 200px;
}