header {
    text-align: center;
}

nav {
    text-align: center;
    background-color: gray;
}

.page {
    display: inline-block;
    margin: 30px;

}

.about {
    display: inline-block;
    margin: 30px;
}

.contact {
    display: inline-block;
    margin: 30px;
}